@inherits LayoutComponentBase

@* RadzenComponents bundles DialogService / NotificationService / TooltipService / ContextMenuService
   visual hosts into a single component. Match Quilt4Net.Server's setup. *@
<RadzenComponents @rendermode="InteractiveAuto" />

<RadzenLayout>
    <NavMenu />
    <RadzenBody>
        <article class="content" style="padding: 1.5rem;">
            @Body
        </article>
    </RadzenBody>
    <RadzenFooter>
        Quilt4Net Blazor Sample
    </RadzenFooter>
</RadzenLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
